<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="css/template.css" rel="stylesheet" />
</head>

<body class="container">
    <h2>
        <%= content %>
    </h2>
</body>

</html>
